body {
display:flex; 
flex-direction:column; 
justify-content:center;
min-height:100vh;
background: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

h1{
text-align: center;
font-size: 1.5rem;
background-color: rgb(18, 83, 80);
padding: 1rem;
margin-bottom: 1rem;
margin: 1rem 2rem;
border-radius: .3rem;
}

h2 {
text-align: center;
font-size: 1.2rem;
background-color: rgb(101, 101, 101);
padding: 1rem;
margin-bottom: 1rem;
}

li{
line-height: 1.8rem;
}

.main {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.left {
display: flex;
flex-direction: column;
gap: 1rem;
}

.right {
height: 350px;
overflow: auto;
opacity: .4;
}
    
.hidden {
display: none;
padding: 0;
}

#constraintList {
padding: 0 1rem;
}

#canvas {
background: rgb(21 21 21);
}

#videoElement {
background: rgb(83, 83, 83);
}

#test {
background: rgb(89, 13, 13);
}