body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem 2rem;
    border-radius: .3rem;
    color: #348496
}

h2 {
    text-align: center;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: #454647;
    padding: .5rem;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    }


a {
    text-decoration: none;
}

b {
    font-weight: bold;
}

span, p {
    color: #348496
}

li {
    line-height: 1.8rem;
}

#canvas {
    background: rgb(21 21 21);
}

#canvasImg img {
    width: auto;
    height: 200px;
}

#imgContainer {
    max-height: 720px;
    overflow: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

#canvas {
    border: .1em dotted #348496;
    background: #f5f5f6;
    border-radius: 1rem;
}

#videoElement {
    background: rgb(83, 83, 83);
}

#errorMsg {
    background: #348496;
    font-size: 1rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#facebookAlert{
    text-align: center!important;
}

.points{
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: #454647;
    padding: .5rem;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron.jumbotron-fluid {
    background: #F8F9FA;
    padding-bottom: 2rem;
}

.lead {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn {
color: #f5f5f6
}

.fab {
    color: #348496
}

.fas,
.fa-solid,
.fw-bold{
    color: #348496
}

.fas,
.fa-solid{
    line-height: 1.7rem;
}

.hidden {
    display: none;
    padding: 0;
}



/* .main .left {
    height: fit-content;
} */

/* .right {
height: 640px;
overflow: auto;
} */

/* #constraintList {
padding: 0 25px;
} */
